@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/*************************************/
body {
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
  line-height: 1.6;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

img {
  vertical-align: bottom;
}

h1 {
  font-size: 170%;
  line-height: 2.0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  line-height: 4.0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

/*****************************************************************
		header
*****************************************************************/
header {
  /*background:url(../img/top_image.jpg)no-repeat center center/100%;*/
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 105;
}

header a {
  color: #ffffff;
}

.top_btn {
  visibility: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
}

.top_btn.vsbl {
  visibility: visible;
  opacity: 1;
}

.top_btn a {
  display: inline-block;
  font-size: 12px;
  width: 60px;
  height: 60px;
  background: #4d61a2;
  position: fixed;
  right: 1%;
  bottom: 11%;
  border-radius: 50%;
  z-index: 110;
}

.top_btn a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  top: 42%;
  right: 45%;
  -webkit-transform: rotate(317deg);
          transform: rotate(317deg);
  position: absolute;
}

.top_btn a:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  top: 42%;
  right: 23%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

#js_navi {
  position: absolute;
  top: -300px;
  width: 100vw;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  z-index: 100;
}

#js_navi.fix {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  display: inline-block;
}

.logo a.logolinnk {
  width: 320px;
  padding: 8% 0;
  margin: 2.5% 0 0;
  display: inline-block;
  background: url(../img/header_logo.png) no-repeat center center/80%;
}

.gnavi {
  float: right;
  margin: 1.5% 0;
  width: 50%;
  text-align: center;
}

.gnavi li {
  float: left;
}

.gnavi a {
  padding: 10px 20px;
}

.gnavi a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.pnavi {
  /*idth:100%;*/
  padding: 0.5% 0;
  background-color: #4d61a2;
  text-align: center;
}

.pnavi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pnavi ul li {
  width: 100%;
}

.pnavi ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 2% 5%;
}

.pnavi ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pnavi ul li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.keyvisual {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  overflow: hidden;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyvisual:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../img/top_image.jpg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .5;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transition: all 2500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
  transition: all 2500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

.keyvisual_catch {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  z-index: 102;
  width: 50%;
  font-size: 210%;
  margin: 0 auto;
  padding: 4% 0;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
}

.keyvisual_catch p {
  padding: 0 1%;
}

.keyvisual_catch .decoration_text {
  font-size: 70%;
}

/*****************************************************************
		info
*****************************************************************/
.info {
  background: #4d61a2;
  padding: 20px 0;
}

.info a {
  font-size: 90%;
  color: #ffffff;
}

.info a:hover {
  text-decoration: underline;
  color: #dddddd;
}

.info .info_block_left {
  width: 36%;
  float: left;
}

.info .info_block_left h2 {
  color: #ffffff;
  text-align: center;
}

.info .info_block_right {
  width: 64%;
  float: left;
  font-size: 14px;
}

.info .info_block_right dt, .info .info_block_right dd {
  line-height: 2;
}

.info .info_block_right dt {
  color: #ffffff;
  width: 30%;
}

.info .info_block_right dt p {
  font: 80%/1.4 "メイリオ", "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-weight: normal;
  margin: 0 0 0 20px;
  padding: 1px 12px;
  display: inline-block;
  width: 58px;
  margin-top: 2px;
  font-size: 0.8em;
  text-align: center;
  background: #ffffff;
  color: #222222;
}

.info .info_block_right dd {
  width: 60%;
  margin-left: 30%;
  margin-top: -25px;
}

/*****************************************************************
		section
*****************************************************************/
#sec_1, #sec_2, #sec_3, #sec_4 {
  padding-top: 100px;
  margin-top: -100px;
}

section {
  margin: 40px 0;
}

/*****************************************************************
			section1
*****************************************************************/
section.sec_1 h2 {
  text-align: center;
}

section.sec_1 .sec_1_block1 dl {
  float: left;
  width: 33%;
}

section.sec_1 .sec_1_block1 dt {
  padding-top: 100px;
  margin: 10px 0 20px;
  font-size: 140%;
  text-align: center;
}

section.sec_1 .sec_1_block1 dl:first-of-type dt {
  background: url(../img/icon_sec1-1.png) no-repeat center top/18%;
}

section.sec_1 .sec_1_block1 dl:nth-of-type(2) dt {
  background: url(../img/icon_sec1-2.png) no-repeat center top/18%;
}

section.sec_1 .sec_1_block1 dl:nth-of-type(3) dt {
  background: url(../img/icon_sec1-3.png) no-repeat center top/18%;
}

section.sec_1 .sec_1_block1 dd {
  border-right: 1px solid #b6b6b6;
  padding: 0 30px;
}

section.sec_1 .sec_1_block2 {
  margin-top: 40px;
}

section.sec_1 .sec_1_block2 dl {
  float: left;
  width: 48%;
}

section.sec_1 .sec_1_block2 dt {
  padding-top: 104px;
  margin: 10px 0 20px;
  font-size: 140%;
  text-align: center;
}

section.sec_1 .sec_1_block2 dl:first-of-type dt {
  background: url(../img/icon_sec1-4.png) no-repeat center top/14%;
}

section.sec_1 .sec_1_block2 dl:nth-of-type(2) dt {
  background: url(../img/icon_sec1-5.png) no-repeat center top/14%;
}

section.sec_1 .sec_1_block2 dd {
  border-right: 1px solid #b6b6b6;
  padding: 0 30px;
}

/*****************************************************************
			section2
*****************************************************************/
section.sec_2 {
  background: #4d61a2;
}

section.sec_2 h2 {
  color: #ffffff;
  text-align: center;
}

section.sec_2 .slide_block dl {
  float: left;
  width: 32%;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

section.sec_2 .slide_block dl:hover {
  opacity: 0.8;
}

section.sec_2 .slide_block dl:nth-of-type(3n) {
  margin-right: 0;
}

section.sec_2 .slide_block dt img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.sec_2 .slide_block dd {
  padding: 14px;
  background: #ffffff;
}

section.sec_2 .slide_block dd p {
  /*line-height: 1.6;*/
}

/*****************************************************************
			section3
*****************************************************************/
section.sec_3 h2 {
  text-align: center;
}

section.sec_3 input[type="radio"] {
  display: none;
}

section.sec_3 #tab1:checked ~ .tab_area .tab1_label {
  background: #fff;
  color: #000;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  border-top: 1px solid #222222;
  border-bottom: transparent;
}

section.sec_3 .tab_area label {
  width: 24%;
  float: left;
  padding: 20px 0;
  border-bottom: 1px solid #222222;
  color: #737373;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: ease 0.2s opacity;
  transition: ease 0.2s opacity;
}

section.sec_3 .tab_panel {
  width: 100%;
  padding: 20px 0 10px;
  display: none;
}

section.sec_3 #tab1:checked ~ .panel_area #panel1, section.sec_3 #tab2:checked ~ .panel_area #panel2, section.sec_3 #tab3:checked ~ .panel_area #panel3, section.sec_3 #tab4:checked ~ .panel_area #panel4 {
  display: block;
}

section.sec_3 #tab2:checked ~ .tab_area .tab2_label, section.sec_3 #tab3:checked ~ .tab_area .tab3_label, section.sec_3 #tab4:checked ~ .tab_area .tab4_label {
  background: #fff;
  color: #000;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  border-top: 1px solid #222222;
  border-bottom: transparent;
}

section.sec_3 dt {
  cursor: pointer;
  position: relative;
  padding: 12px 10px;
  text-decoration: underline;
  color: #ffffff;
  margin: 10px;
  background: #4d61a2;
}

section.sec_3 dt:hover {
  color: #dddddd;
}

section.sec_3 dt::after {
  content: "+";
  display: inline-block;
  color: #ffffff;
  position: absolute;
  right: 2%;
  font-size: 18px;
}

section.sec_3 dt.selected::after {
  content: "-";
  display: inline-block;
  color: #ffffff;
  position: absolute;
  right: 2.4%;
  font-size: 18px;
}

section.sec_3 dd {
  visibility: hidden;
  padding: 10px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  /*background: #dddddd;*/
  margin-top: -50px;
  color: #222222;
  opacity: 0;
  margin-left: 36px;
}

section.sec_3 dt.selected + dd {
  visibility: visible;
  top: 100%;
  margin: -6px 0 14px 36px;
  opacity: 1;
}

/*****************************************************************
			section4
*****************************************************************/
section.sec_4 {
  background: #4d61a2;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
  margin-bottom: 0 !important;
}

section.sec_4 a {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

section.sec_4 .btn_block {
  width: 60%;
  margin: 40px auto;
}

section.sec_4 .btn a {
  border: 1px solid #ffffff;
  display: block;
  width: 24%;
  padding: 20px 40px;
  color: #ffffff;
}

section.sec_4 .btn a:hover {
  color: #222222;
  background: #ffffff;
}

section.sec_4 .btn a:first-of-type {
  margin-right: 60px;
  float: left;
}

section.sec_4 .btn a:last-of-type {
  float: right;
}

/*****************************************************************
			footer
*****************************************************************/
.footer_navi {
  line-height: 1.6;
  background: #2d2d2d;
  font-size: 14px;
  padding: 60px 0;
}

.footer_navi a {
  color: #ffffff;
}

.footer_navi a:hover {
  color: #dddddd;
  text-decoration: underline;
}

.footer_navi .ft_block {
  float: left;
  margin-right: 38px;
}

.footer_navi .ft_block ul {
  border-left: 1px solid #ffffff;
}

.footer_navi .ft_block li {
  margin-left: 20px;
}

.footer_navi .ft_block:last-of-type {
  margin-right: 0;
}

.footer_navi .ft_block:last-of-type ul {
  border-left: none;
  line-height: 2.2;
}

.footer_adress {
  background: #1b1b1b;
  color: #ffffff;
  padding: 32px 0;
  font-size: 14px;
}

.fot_ad_block {
  float: left;
  margin-right: 98px;
}

.fot_ad_block:last-of-type {
  margin-right: 0;
}

.copy {
  background: #000000;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-size: 12px;
}

/*************************************************************************************/
@media screen and (max-width: 480px) {
  body {
    line-height: 1.4;
  }
  h2 {
    font-size: 140%;
    line-height: 3;
  }
  .keyvisual {
    height: 80vh;
  }
  section {
    padding-bottom: 20px;
  }
  .sp_br {
    display: block;
  }
  .keyvisual_catch {
    font-size: 120%;
  }
  .keyvisual_catch .decoration_text {
    font-size: 20%;
  }
  body {
    min-width: 100vw;
    font-size: 100%;
  }
  header {
    /*		background: url(../img/top_image.jpg) no-repeat center top/cover;*/
  }
  .wrapper {
    width: 98vw;
  }
  .mask {
    width: 100%;
  }
  .logo a.logolinnk {
    background: url(../img/header_logo.png) no-repeat center center/50%;
    width: 98vw;
    padding: 6% 0;
  }
  .gnavi, .navi_block .fix .gnavi {
    width: 100%;
    float: none;
    font-size: 60%;
    margin: 0;
  }
  .gnavi li, .navi_block .fix .gnavi li {
    float: left;
    width: 25%;
  }
  .gnavi li a, .navi_block .fix .gnavi li a {
    padding: 12% 10% 26%;
  }
  .gnavi li:last-child a, .navi_block .fix .gnavi li:last-child a {
    padding-right: 0;
  }
  .info {
    padding-top: 0;
  }
  .info dl {
    margin: 4% 0;
  }
  section.sec_1 .sec_1_block1 dt, section.sec_1 .sec_1_block2 dt {
    padding-top: 19%;
    background-size: 15% !important;
  }
  .section.sec_2 .slide_block dt img {
    height: 100%;
  }
  .pnavi {
    background: #222222;
    padding: 3% 0;
    position: fixed;
    bottom: 0;
    z-index: 101;
    width: 100vw;
  }
  .pnavi ul {
    display: inline-table;
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .pnavi ul li {
    display: table-cell;
    white-space: nowrap;
    font-size: 60%;
    width: auto;
    vertical-align: middle;
  }
  .pnavi ul li a {
    text-decoration: none;
    padding: 0.5em 1.5em 3em;
    margin-bottom: -3em;
    display: block;
    width: auto;
    background-image: none;
  }
  .info .decoration_text {
    font-size: 70%;
  }
  .info .info_block_left, .info_block_right {
    width: 100%;
    float: none;
  }
  .info .info_block_right {
    width: 100%;
  }
  .info .info_block_right dt {
    width: 100%;
  }
  .info .info_block_right dd {
    width: 70%;
    line-height: 1.4;
    margin-left: 30%;
    margin-top: 0px;
    margin-bottom: 1%;
  }
  section.sec_1 .sec_1_block1, section.sec_1 .sec_1_block2 {
    margin-top: 0;
  }
  section.sec_1 .sec_1_block1 dl, section.sec_1 .sec_1_block2 dl {
    width: 100%;
    margin-top: 40px;
  }
  section.sec_1 .sec_1_block1 dd, section.sec_1 .sec_1_block2 dd {
    border: none;
  }
  section.sec_2 .slide_block dl {
    float: none;
    margin: 0 auto 20px;
    width: 96vw;
  }
  section.sec_2 .slide_block dl:nth-of-type(3n) {
    margin-right: auto;
  }
  section.sec_3 .tab_panel {
    font-size: 80%;
  }
  section.sec_3 .tab_panel dt.qestion {
    padding: 4% 10% 4% 2%;
  }
  section.sec_3 .tab_panel dt::after {
    top: 25%;
    right: 3%;
  }
  section.sec_3 .tab_panel dd {
    margin-top: -80px;
  }
  section.sec_4 .btn a {
    width: 100%;
    float: none !important;
    padding: 5%;
    margin: 10% 0;
  }
  .footer_navi .ft_block {
    margin: 10px 0 10px 10px;
    width: 45%;
  }
  .footer_navi .ft_block.logo {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .fot_ad_block {
    float: none;
    font-size: 80%;
    margin: 10% 0 10% 10%;
  }
}
/*# sourceMappingURL=style.css.map */